extends layout

block content
  .row.justify-content-center
    .col-7
      .card
        .card-body
          h5.card-title Welcome!
          p.card-text Let's explore guide tour with world-wide friends!
          a.btn.btn-primary.btn-lg(href="/tours" role="button") Go To Tour List