extends layout

block content
  .container.login
    row.justify-content-center
      .col-4
        form(action='/login', method='POST')
          .form-group
            label(for="exampleInputEmail1") E-mail
            input.form-control(type='email', id='email', name='email', placeholder="enter your Email")
          div.form-group
            label(for="exampleInputPassword1") Password
            input.form-control(type='password', id='password', name='password', placeholder="enter your password")
          div.row.justify-content-end.logbutton
            div.col-4
              button.btn.btn-outline-primary(type="submit") Submit
          a.btn.btn-primary.btn-lg.btn-block(href="/auth/facebook")
            i.fa.fa-facebook.fa-lg
            | &nbsp;
            | Login With Facebook
        div.row.justify-content-end
          div.col-9
            | 아직 회원이 아니신가요?
            a(href="users/new") Sign up