doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    title= title
  body
    header
      nav.navbar.navbar-light.bg-light
        a.navbar-brand(href = "/")
          | #[img.d-inline-block.align-top(src ="/images/logo/logo.png" height = 50 width = 50 alt="Travel Logo")] Travel
        if (!currentUser)
          form.form-inline
            a.btn.btn-outline-success(href="/login" role="button" aria-pressed="true") Log-in
            .hidden aaa
            a.btn.btn-outline-success(href="users/new" role="button" aria-pressed="true") Sign-up
        else
          form.form-inline
            a.btn.btn-outline-success(href=`users/${currentUser.id}` role="button" aria-pressed="true") Profile
            .hidden aaa
            a.btn.btn-outline-success(href="/logout" role="button" aria-pressed="true") Log-out

      //- nav.navbar.navbar-expand-lg.navbar-light.bg-light.center
      //-   .collapse.navbar-collapse#navbarNav
      //-     ul.navbar-nav
      //-       li.nav-item
      //-         a.nav-link(href="/tours") 동남아
      //-       li.nav-item
      //-         a.nav-link(href="#") 중국/한국            
      //-       li.nav-item
      //-         a.nav-link(href="#") 호주/뉴질랜드            
      //-       li.nav-item
      //-         a.nav-link(href="#") 서유럽            
      //-       li.nav-item
      //-         a.nav-link(href="#") 동유럽            
      //-       li.nav-item
      //-         a.nav-link(href="#") 남유럽/지중해            
      //-       li.nav-item
      //-         a.nav-link(href="#") 전체
    block hero-unit
    if flashMessages
      each texts, type in flashMessages
        .container
          .alert.alert-dissmissible.fade.show(class=`alert-${type}`)
            each msg in texts
              | #{msg}
            button.close(type='button', data-dissmiss='alert', aria-label='close')
              span(aria-hidden='true') &times;
    block content

